{% extends 'client.html' %}


{% block head %}
<title>Clients</title>
{% endblock %}

{% block body %}
<div class="container">
    <table border="1" cellpadding="10">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Street</th>
            <th>Suburb</th>
            <th>State</th>
            <th>Postcode</th>
            <th>UPDATE</th>
        </tr>
        {% for client in clients %}
        <tr> 
            <td>{{ client.name }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.street }}</td>
            <td>{{ client.suburb }}</td>
            <td>{{ client.state }}</td>
            <td>{{ client.postcode }}</td>
            <td><a href="{% url 'edit' pk=client.id %}">Update</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
